@page
@model WebApplication2.Pages.registerpageModel
@{
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="site.js" type="text/javascript"></script>
    <title>Document</title>

</head>

<body>
    <header id="header">

        <div class="logo">
            <a href="index.html">
                <img src= width="100" height="50" >
            </a>            
        </div> 
        <nav>
            <ul class="list"> 
                <li><a href="index.cshtml">Om oss</a></li>
                //sette inn verdien til databse
                <li><a href=".">Oversikt over alle observasjoner</a></li>
            </ul>  
        </nav>    
    </header>

    <h1>UFO Observasjon</h1>
<br>
    <p>
     <h2> Har du observert en UFO? Register dette i norges største observasjons database. </h2>
    </p>

        <div class="flex-container">
            <div>
        <h2><right>Om deg </right></h2>
        <p>
        Først må vi vite litt om deg. I tilfelle du er en Robott.

            <div class="form-group">
                <label for="fornavn"></label>
                <span id="fornavnFeil" style= "color: red"></span> Fornavn: <span id="UtFornavn"></span>
                <input type="text" class="form-control" id="fornavn"/>
            </div>

            <div class="form-group">
                <label for="etternavn"></label>
                <span id="etternavnFeil" style="color: red"></span> Etternavn: <span id="Utetternavn"></span>
                <input type="text" class="form-control" id="etternavn"/>
            </div>

            <div class="form-group">
                <span id="epostFeil" style="color: red"></span> Epost: <span id="UtEpost"></span>
                <input type="text" class="form-control" id="epost"/>
            </div>
        </p>
        </div>
        
        <div>
            
            <h2><left> Hvor, Når og Hva </left></h2>
        <p> 
            Nå kan du begynne å fortelle litt om observasjonen.        
            <div class="form-group">
                <input type="text" class="form-control" id= "hvor"/>
                <span id="hvorFeil" style="color: red"></span>
                Hvor: <span id="Uthvor"></span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id= "når"/>
                <span id="nårFeil" style="color: red"></span>
                Når: <span id="Utnår"></span>
            </div>

        </p>
</body>
<div class="button">
    <input type="button" onclick="page2;" value="Registrer" />

</div>
</html>
